body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; /* this is used to position the object that makes the background darker */
    min-height: 100vh;
}

body::before { /* darkens the background */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; 
}

body::after { /* small vignette effect on the background */
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        transparent 20%,
        rgba(0, 0, 0, 0.8) 150%
    );
    pointer-events: none;
    z-index: -1;
}

h1 {
    color: white;
    font-weight: 100;
    font-size: 25px;
}

a {
    color: white;
}

#top-header {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

#navbar-home-playlists a {
    text-decoration: none;
    margin: 15px
}

#navbar-home-playlists {
    position: absolute;
    right: 40px
}



