body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
}

body::before { /* darken the background */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; 
}

body::after { /* small vignette effect on the background */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        transparent 20%,
        rgba(0, 0, 0, 0.8) 150%
    );
    pointer-events: none;
    z-index: -1;
}

/* fonts */
h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 30px;
}

h1::first-letter {
    font-size:40px;
}

h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight:10;
}

a {
    color: white;
    font-family:'Times New Roman', Times, serif;
}

p {
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}

label {
    color: white;
    font-family:'Times New Roman', Times, serif;
}

input {
    color: white;
    font: 16px 'Times New Roman';
    padding: 3px 3px 3px 3px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    margin-right: 340px;
    align-self: center;
    outline: 0;
}

div {
    color: white;
    font-family:'Times New Roman', Times, serif;
}

button {
    color: white;
    background-color: transparent;
    font: 16px'Times New Roman', Times, serif;
    cursor: pointer;
    border: none;
}
/* */

/* ------------ header ------------*/
#top-header {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6) 20%,
        rgba(0, 0, 0, 0.6) 15%,
        rgba(0, 0, 0, 0) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.header-dropdown {
    margin: 20px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    min-width: 127px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.5s ease, visibility 1s;
    transform: translateY(-10px);
}

.dropdown-content div {
    padding: 10px 5px;
}

.dropdown-content div:hover { /* applies to the whole dropdown-content element for some reason. its supposed to make the selected div change */
    border-bottom: 1px solid rgb(43, 219, 160);
}

.header-dropdown:hover .dropdown-content {opacity: 1; visibility:visible; transform: translateY(0)};

.upload-container {
    margin: 10px;
    position: relative;
    display: inline-block;
}
    
.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
}

#navbar-home-playlists a {
    text-decoration: none;
    margin: 15px;
}

#navbar-home-playlists {
    position: absolute;
    right: 40px;
    display: flex;
    align-items: center;
}
/*

/* ------------ genre ----------- */

.genre_filters {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.genre_filters a {
    text-decoration: none;  
    margin: 10px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;
}

.genre_filters a.selected {
    border-bottom: 1px solid rgb(43, 219, 160);
}

.genre_filters input {
    position: relative;
    margin-right: 340px;
    outline: 0;
}

/* ---------------- grid --------------- */

.song_grid {
    position: relative;  
    display: grid;
    height: 100vh;
    width: 50%;
    margin-inline: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.song_grid::before { /* shadow background */    
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    border-radius: 15px;
    opacity: 0.1;
}

.song_item {
    margin-left: 10px;
    transition: transform 0.3s ease;
    z-index: 0;
}

.song_item:hover {
    transform: scale(1.004);
}

.song_item p {
    position: absolute;
    margin-top: -16px;
}

.song_item img {
    margin-top: 4px;
    border-radius: 4px;
}