#dimmer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body::before { /* darken the background */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; 
}

body::after { /* small vignette effect on the background */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        transparent 20%,
        rgba(0, 0, 0, 0.8) 150%
    );
    pointer-events: none;
    z-index: -1;
}

/* fonts */
h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 30px;
}

h1::first-letter {
    font-size:40px;
}

h2 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 30px;
}

h3 {
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight:10;
}

a {
    color: white;
    font-family:'Times New Roman', Times, serif;
}

p {
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}

label {
    color: white;
    font-family:'Times New Roman', Times, serif;
}

input {
    color: white;
    font: 16px 'Times New Roman';
    padding: 3px 3px 3px 3px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    align-self: center;
    outline: 0;
}

div {
    color: white;
    font-family:'Times New Roman', Times, serif;
}

button {
    color: white;
    background-color: transparent;
    font: 16px'Times New Roman', Times, serif;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

.button:hover { /* i know this looks weird because theres a button element but this is better */
    border-bottom: 1px solid rgb(43, 219, 160);
}

.red_button:hover {
    border-bottom: 1px solid rgb(238, 66, 14);
}
/* */

/* ------------ header ------------*/
.top-header {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6) 20%,
        rgba(0, 0, 0, 0.6) 15%,
        rgba(0, 0, 0, 0) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-dropdown {
    margin: 20px;
    position: relative;
}

.dropdown-content {
    min-width: 127px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.5s ease, visibility 1s;
    transform: translateY(-10px);
}

.dropdown-content .upload-container {
    display: block;
    padding: 10px 5px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

.header-dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.upload-container {
    position: relative;
}

.upload-container:hover {
    border-bottom: 1px solid rgb(43, 219, 160);
}
    
.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.navbar-home-playlists a {
    text-decoration: none;
    margin: 15px;
}

.navbar-home-playlists {
    position: absolute;
    right: 40px;
    display: flex;
    align-items: center;
}
/*

/* ---------- upload popup from the dropdown menu ---------- */
#upload-popup {
    border-radius: 4px;
    background-color: rgba(36, 34, 34, 0.281);
    left: 50%;
    top: 45%;
    width: 35%;
    height: 45%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 2;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
    visibility: hidden;
}

.popup-header {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: right;
}

.popup label {
    font-size: 24px;
}

#or {
    font-size: 16px;
    margin-top: 5px;
    /*
    margin-right: 12px;
    margin-left: 12px;*/
    margin-left: 95px;
}

.genre-checkboxes label {
    font-size: 16px;
    min-width: 52px;
}

.upload-step label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
}
  
.upload-step input[type="file"] {
    width: 30%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.upload-step input[type="file"]::file-selector-button {
    display: none;
}

.upload-step input {
    margin-left: 10px;
    border-radius: 5px;
}

.genre-checkboxes {
    display: flex;
}
  
.genre-checkboxes input[type="checkbox"] {
    display: none;
}
  
.genre-btn {
    background-color: rgba(12, 7, 7, 0.2);
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    border-radius: 4px;
}
  
.genre-checkboxes input[type="checkbox"]:checked + .genre-btn {
    background-color: rgba(43, 219, 160, 0.5); /* wanted to make this border-bottom but it doesn't look as good */
    transform: scale(1.05);
}
  
.genre-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.upload-end-btns {
    display: flex;
    justify-content: right;
    margin-top: 8px;
    margin-bottom: 2px;
}

.upload-end-btns button {
    font-size: 18px;
}
/*

/* ------------ genre ----------- */

.genre_filters {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.genre_filters a {
    text-decoration: none;  
    margin: 10px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;
}

.genre_filters a.selected {
    border-bottom: 1px solid rgb(43, 219, 160);
}

.genre_filters input {
    position: relative;
    margin-right: 340px;
    outline: 0;
}

/* ---------------- grid --------------- */

.song_grid_container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
}

.song_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 1200px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 20px;
    overflow-y: auto;
}

.song_item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.song_item:hover {
    transform: scale(1.01);
}

.song_item.playing h3 {
    color: rgb(43, 219, 160);
    transition: color 0.3s ease;
}

.song_item img {
    width: 100%;
    height: 150px;
    
    border-radius: 4px;
}

.song_item h3 {
    font-size: 18px;
    margin: 10px 0 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    transition: color 0.3s ease;
}

.song_item p {
    font-size: 14px;
    margin: 2px 0;
    color: rgba(255, 255, 255, 0.7);
    user-select: none;
}

@media (max-width: 1100px) {
    .song_grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 700px) {
    .song_grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}